<!-- your html code here -->
<hr class="mx-5">
<div class="d-flex" style="padding: 100px">
        <div class="d-flex">
            <div class="">
                <div class="d-flex">
                    <h1>This First Heading</h1>
                    <h1 class="text-secondary px-1">Will Catch Your Eye</h1>
                </div>                        
                <p class="card-text">Donec ullamcorper nulla non metus autor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
            </div>
           
                <img src="https://raw.githubusercontent.com/4GeeksAcademy/collaborative-equipo1-pt33/master/website/assets/img/1.jpg" class="" alt="" style="border-radius: 50%; padding: 5px; height: 340px; width: 340;">
        
        </div>
</div>

<!-- card mb-3" style="max-width: 750px; -->