<!-- your html code here -->

<div class="container-fluid bg-white col-10">
    <hr class="px-0">
    <h1>Portfolio</h1>
    <p>Donec Ullamcorper nulla non metus auctor fringilla. Vestimbulum id liguda porta felis euismod semper. Praesent
        commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>

    <div class="card-group">
        <div class="card me-3"">
            <img src=" https://picsum.photos/id/100/700/400" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title text-primary">Proyect Name</h5>
                <p class="card-text">Lorem ipsurn dolor sit amet, consectetur adipiscing elit.
                    Nam viverra euisrnod odio, gravida pellentesque urna
                    varius vitae.</p>
            </div>
        </div>
        <div class="card">
            <img src="https://picsum.photos/id/50/700/400" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title text-primary">Proyect Name</h5>
                <p class="card-text">Lorem ipsurn dolor sit amet, consectetur adipiscing elit.
                    Nam viverra euisrnod odio, gravida pellentesque urna
                    varius vitae.</p>
            </div>
        </div>
        <div class="card ms-3">
            <img src="https://picsum.photos/id/200/700/400" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title text-primary">Proyect Name</h5>
                <p class="card-text">Lorem ipsurn dolor sit amet, consectetur adipiscing elit.
                    Nam viverra euisrnod odio, gravida pellentesque urna
                    varius vitae.</p>
            </div>
        </div>
    </div>
</div>