<!-- your html code here -->
 <hr class="mx-5">
 <div class="d-flex" style="padding: 100px">
    <img style="border-radius: 50%;" src="https://raw.githubusercontent.com/4GeeksAcademy/collaborative-equipo1-pt33/master/website/assets/img/2.jpg" alt="Foto mala">
    <div class="">
        <div class="d-flex">
            <h1>The Second Heading</h1>
            <h1 class="text-secondary px-1">Is Preety cool too.</h1>
         </div>
         
        <p>Per tempor ad lacus aliquet natoque porta dui praesent cum, porttitor habitasse potenti nunc suscipit integer mus dapibus, aenean turpis lacinia sollicitudin blandit cras parturient. Per tempor sodales ultricies mattis cras malesuada morbi, interdum habitant a maecenas platea placerat scelerisque mollis, id felis mus cum mi justo.</p>
    </div>
    
 </div>

